%head
  = stylesheet_link_tag :all, :cache => true
  %title
    All people

%body
  %h1
    Listing all people
  .text
    Who all are there?

  %table{:cellpadding => 5, :bgcolor => "#FFFF66"}
    %tr
      %th Name
      %th Gender
      %th Address

    - for person in @people
      %tr
        %td= person.name
        %td= person.gender
        %td= person.printed_address 
