%head
  %script{:src => "http://maps.google.com/maps/api/js?sensor=false", :type => "text/javascript"}

  = stylesheet_link_tag :all, :cache => true
  = javascript_src_tag "proximity", :cache => true

%body
  %h1
    People#all
  .location
    Find me in app/views/people/all.html.haml
  .text
    what has the world come to?