%head
  = stylesheet_link_tag 'main'
  = javascript_src_tag "jquery", :cache => true
  
  %title
    All people

%body
  %h1
    Listing all people
  .text
    Who all are there?

  %br
  %table.people
    %thead
      %th Name
      %th Geocoded?

    - for person in @people
      %tr{:class => person.geocoded} 
        %td= person.name
        %td= person.geocoded
        %td
          =link_to "Info", person_url(person.id)
  %br

  .geocode
    Click
    =link_to "here", geocode_url
    to map all.
          