%head
  = stylesheet_link_tag 'main'
  
  %title
    All people

%body
  %h1
    Listing all people
  .text
    Who all are there?

  %br
  .geocode
    (Click
    =link_to "here", geocode_all_url
    to map all.)

  %br
  %table.people
    %thead
      %th People Soft ID
      %th Name
      %th Geocoded?

    - for person in @people
      %tr{:class => person.geocoded} 
        %td= person.ps_id
        %td= person.name
        %td= yes_or_geocode(person.address)
        %td
          =link_to "Info", person_url(person.id)
  %br